<ion-view>
    <ion-nav-bar class="intro-bar">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-buttons side="left">
        <button class="button blank-button" ion-wizard-previous>
            {{wizard.goBack}}
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button blank-button" ion-wizard-next>
            {{wizard.goForward}}
        </button>
        <button class="button blank-button" ion-wizard-start="start()" condition="startCondition()">
            {{wizard.goApp}}
        </button>
    </ion-nav-buttons>

    <ion-slides options="swiperOptions" slider="swiper" ion-wizard>
        <ion-slide-page ion-wizard-step next-condition="step1">
            <ion-content class="has-header">
                <div class="vertical-align">
                    <div class="row">
                        <div class="col col-center text-center">
                            <img class="logo intro step-image" ng-src="{{step1.image.url}}" alt="{{step1.image.title}}">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-60 col-offset-20 text-center">
                            <p>{{step1.text}}</p>
                        </div>
                    </div>
                </div>
            </ion-content>
        </ion-slide-page>

        <ion-slide-page ion-wizard-step>
            <ion-content class="has-header">
                <div class="vertical-align">
                    <div class="row">
                        <div class="col col-center text-center">
                            <i class="icon ion-locked step-image"></i>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-60 col-offset-20 text-center">
                            <p>{{step2.text}}</p>
                        </div>
                    </div>
                </div>
            </ion-content>
        </ion-slide-page>

        <ion-slide-page ion-wizard-step>
            <ion-content class="has-header">
                <div class="vertical-align">
                    <div class="row">
                        <div class="col col-center text-center">
                            <i class="icon ion-play step-image"></i>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-60 col-offset-20 text-center">
                            <p>{{step3.text}}</p>
                        </div>
                    </div>
                </div>
            </ion-content>
        </ion-slide-page>

        <ion-slide-page ion-wizard-step class="has-header">
            <div class="vertical-align">
                <div class="row">
                    <div class="col col-center text-center">
                        <h2 class="title">Termos de Uso</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-center">
                        <p>
                            {{step4.terms.text}}
                        </p>
                        <ion-checkbox placeholder="{{step4.terms.acceptText}}" ng-model="step4.terms.accept" autocomplete="off">Li e concordo com os Termos de Uso</ion-checkbox>
                    </div>
                </div>
            </div>
        </ion-slide-page>
    </ion-slides>

</ion-view>