// Color Variables
$red: #B51302;
$orange: #01202C;
$light-blue: #27B9B5;
$dark-blue: #138084;
$yellow: #FF8D0F;
$dark-gray: #8C9AA0;
$medium-gray: #DAF1F6;
$light-gray: #F9F9F9;

// Pattern Variables
$primary-color: $red;
$secondary-color: $orange;

// Elements Colors Variables
$support-color: $light-blue;
$contour-color: $dark-blue;
$text-color: $dark-blue;

// Buttons Colors Variables
$primary-button-color: #FFF;
$primary-button-bg-color: $primary-color;
$blank-button-color: $dark-gray;
$blank-button-bg-color: transparent;